- model_class = RPackage
.page-header
  %h1 R Package Details

%p
  %strong Name
  %br
  = @r_package.name
%p
  %strong Title
  %br
  = @r_package.title
%p
  %strong Description
  %br
  = @r_package.description
%p
  %strong Created On
  %br
  = @r_package.date_created
%p
  %strong License
  %br
  = @r_package.license

.page-header
  %h1 List of versions available for this R Package
%table.table.table-striped
  %thead
    %tr
      %th Number
      %th Author
      %th Released on
      %th Dependency
      %th Lazy Data
      %th Repository
  %tbody
    - @versions.each do |version|
      %tr
        %td= version.number
        %td= version.author
        %td= version.released_on
        %td= version.dependency
        %td= version.lazy_data
        %td= version.repository
        %td= link_to "Download", download_path_for(@r_package.name, version.number), :class => 'btn'
